<style>
* {
  box-sizing: border-box;
}
.infor1 {
  float: left;
  width: 30%;
  padding: 90px;
  height: 700px; /* Should be removed. Only for demonstration */
}

.infor2 {
  float: left;
  width: 70%;
  padding: 50px;
  height: 700px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.information:after {
  content: "";
  display: table;
  clear: both;
}




.flip-box-inner {
  position: relative;
  width: 500px;
  height: 500px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-inner:hover  {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 500px;
  height: 500px;
  backface-visibility: hidden;
}


.flip-box-back {
  background-color:#82555b;
  color: white;
  transform: rotateY(180deg);
}

.self{
 height: 500px;

}

.button1 {
  border-radius: 4px;
  background-color: #c98783;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 70px;
}

.button1 p {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 p:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover p {
  padding-right: 25px;
}

.button1:hover p:after {
  opacity: 1;
  right: 0;
}

.personal{
  margin-top: 70px;
}

.megaphone{
  margin-top:110px;
}
.banner {
        font-family:Reklame Font;
        font-style:oblique;
        color:#6f3e56;
        font-size: 60px;
       line-height:190px;
       text-indent : 10px;
      text-shadow: 10px 10px 10px #915572,20px 20px 12px silver;
}
</style>